/* Site settings */
body {background-color:#ffffff;font-family:Arial,sans-serif;font-size:13px;font-weight:normal;font-style:normal;text-decoration:none;color:#000000;letter-spacing:0em;}
a {text-decoration:underline;}
a:link {color:#0000EE; cursor:pointer;}
a:visited {color:#561A8B;}
a:hover {color:#0000EE;}
a * {color:#0000EE;text-decoration:underline;}
sup {font-size:0.7em; vertical-align: 0.3em;}
sub {font-size:0.7em;}
.xr_tl {position: absolute; white-space: pre; unicode-bidi:bidi-override;}
.xr_tr {position: absolute; white-space: pre; unicode-bidi:bidi-override; text-align:right;}
.xr_tc {position: absolute; white-space: pre; unicode-bidi:bidi-override; text-align:center;}
.xr_tj {position: absolute; unicode-bidi:bidi-override; text-align:justify;}
.xr_ap {position: absolute; border:none;}
.xr_ar {position: absolute; display:block;}
.xr_ae {position: relative; border:none;}
.xr_tb {position: absolute; unicode-bidi:bidi-override;}
.xr_tu {unicode-bidi:bidi-override;margin-top:0px;margin-bottom:0px;}
.xr_c_Icon_Color_4 {color:#E86100;}
.xr_c_Light_Text {color:#FFFFFF;}
.xr_c_Theme_Color_2 {color:#A0B200;}
.xr_c_Theme_Color_1_b {color:#7F7F7F;}
.xr_c_Text_a {color:#000000;}
.xr_c_RTF0 {color:#000000;}
.xr_c_RTF2 {color:#0000FF;}
.xr_c_Theme_Color_1 {color:#424856;}
.xr_c_Theme_Color_1_a {color:#9A5900;}
.xr_c_Theme_Color_2_a {color:#181C20;}
.xr_c_Light_Text_a {color:#FFFFFF;}
.xr_c_Panel_Color {color:#FFFFFF;}
.xr_c_Panel_Tone {color:#AFBCBF;}
