/* Text styles */
.xr_s0 {font-family:Arial;font-size:40px;font-weight:normal;font-style:normal;text-decoration:none;color:#000000;letter-spacing:0.0em;}
.xr_s1 {font-family:Arial;font-size:24px;font-weight:bold;font-style:normal;text-decoration:none;color:#000000;letter-spacing:0.0em;}
.xr_s2 {font-family:Arial;font-size:18px;font-weight:normal;font-style:normal;text-decoration:none;color:#000000;letter-spacing:0.0em;}
.xr_s3 {font-size:16px;font-weight:normal;font-style:normal;text-decoration:none;color:#000000;letter-spacing:0.0em;}
.xr_s4 {font-family:Verdana, Geneva, sans-serif;font-size:16px;font-weight:normal;font-style:normal;text-decoration:none;color:#000000;letter-spacing:0.0em;}
.xr_s5 {font-family:Arial;font-size:16px;font-weight:normal;font-style:normal;text-decoration:none;color:#000000;letter-spacing:0.0em;}
.xr_s6 {font-family:Arial;font-size:42px;font-weight:normal;font-style:normal;text-decoration:none;color:#000000;letter-spacing:0.0em;}
.xr_s7 {font-family:Arial;font-size:18px;font-weight:bold;font-style:normal;text-decoration:none;color:#000000;letter-spacing:0.0em;}
/* Text styles */
.xr_s8 {font-family:Arial;font-size:40px;font-weight:normal;font-style:normal;text-decoration:none;color:#000000;letter-spacing:0.0em;}
.xr_s9 {font-family:Arial;font-size:24px;font-weight:bold;font-style:normal;text-decoration:none;color:#000000;letter-spacing:0.0em;}
.xr_s10 {font-family:Arial;font-size:18px;font-weight:normal;font-style:normal;text-decoration:none;color:#000000;letter-spacing:0.0em;}
